.container{
  max-width: 1440px;
}
.city{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 6px lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.line{
  height: 1px;
  width: 90%;
  background: lightgrey;
  margin: 15px 0;
}
.city-name p{
  font-size: 2rem;
  color: green;
}
.city-temp p{
  font-size: 2rem;
}
.city-weather{
  font-size: 1.5rem;
  margin-top: 10px;
}
.info-text{
  padding: 50px 0 0;
  font-size: 1rem;
  line-height: 3rem;
}
span{
  font-weight: bold;
  font-size: 1.2rem;
  color: green;
}
