@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

main {
  font-family: Roboto, sans-serif;
}
.welcome{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.welcome-title{
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  padding-right:20px;

}
.welcome-image{
  width: 320px;
  height: 300px;
}
.chart{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.chart-title{
  margin-bottom: 1em;
  font-size: 26px;
  font-weight: 600;
}

.column{
  flex-direction: column;
}
.welcome-image-earth{
  height: 700px;
  border-radius: 2em;
  margin-bottom: 40px;
}
.welcome-title-earth{
  text-align: justify;
  margin: 40px 0;
}
