<h1>Над проектом роботали </h1>
<div class="flex">
  <div>
  <img src="./assets/photo_2021-08-14_23-34-16.jpg" alt="Artem">
  <h2>Artem</h2>
  <a href="https://t.me/ive_got_a_migraine"><img class="social" src="./assets/telegram.png" alt="telegram"></a>
</div>
  <div>
    <img src="./assets/photo_2020-11-04_21-23-50.jpg" alt="Malik">
    <h2>Malik</h2>
    <a href="https://t.me/malikduisebayev"><img class="social" src="./assets/telegram.png" alt="telegram"></a>
  </div>
  <div>
  <img src="./assets/photo_2021-07-23_11-22-51.jpg" alt="Meirzhan">
  <h2>Meirzhan</h2>
  <a href="https://t.me/MeirzhanTleubaev"><img class="social" src="./assets/telegram.png" alt="telegram"></a>
</div>

</div>
<div class="margin">
  <h2>Наша Команда :</h2>
  <h1>AMM</h1>
  <h1>AMM: была создана 16 декобря 2021 года.</h1>
  <h1>Первый проект: WeatherAMM - 24 декобря 2021 года</h1>
  <h2>Мы быстро сколотили свою тиму и сделали данный проект. Сам проект создовался 7 дней как задача на экзаменационная работа. Была быстро придумана идея сайта с пиццей после чего сайта автосолона но после дня раздумий мы решили сделать сайт о погоде. Сделали основу, стили, компонент за компонентом после чего подключили API сделав нужные компоненты мы сделали дизаин и сайт готов</h2>
</div>

