<h1>Над проектом работали</h1>
<div class="flex">
  <div class="about" *ngFor="let pers of person">
  <img class="profile-image" src="{{pers.imgLink}}" alt="{{pers.name}}">
  <h2>{{pers.name}}</h2>
    <p>{{pers.position}}</p>
  <a href="{{pers.mediaLink}}"><img class="social" src="{{pers.imgMediaLink}}" alt="telegram"></a>
</div>

</div>
<div class="margin">
  <p>
    <strong>OpenWeather</strong> - это команда ИТ-экспертов и специалистов по обработке данных, которая занимается глубоким изучением данных о погоде с 2014 года. Для каждой точки земного шара OpenWeather предоставляет исторические, текущие и прогнозируемые данные о погоде через API-интерфейсы со скоростью света. Штаб-квартира в Астане, Казахстан.
  </p>
  <hr>
  <div>
    <p>
      <strong>Агро API</strong><br>
      Мы предоставляем спутниковые изображения, данные о погоде и другие сельскохозяйственные услуги, основанные на геоданных. Используйте эту информацию для своего решения с помощью Agro API.
    </p>
    <ul>
      <li *ngFor="let info of arr">{{info}}</li>
    </ul>
  </div>
  <div>
    <hr>
<p>    Наша новая технология Time Machine позволила нам улучшить данные в Исторической коллекции погоды : исторические данные о погоде теперь доступны для любых координат, а глубина исторических данных увеличена до 40 лет.
</p>
    <p>
      <strong>Как получить</strong><br>
      Торговая площадка готовых наборов данных
      (города, почтовые индексы, сетки)

    </p>
    <p>

      <strong>Наборы</strong> <br>
      на лету для настраиваемых списков координат

    </p>

    <p>
      API (для города, до 1 года назад; подписки с различными ограничениями на звонки в минуту, доступность данных и обслуживание)
    </p>

  </div>
</div>

